.table
  display: flex
  flex-wrap: wrap
  margin: 0 0 3em 0
  padding: 0

.table__cell
  box-sizing: border-box
  flex-grow: 1
  width: 100%  // Default to full width
  padding: 0.8em 1.2em
  overflow: hidden // Or flex might break
  list-style: none
  border: solid @bw white
  background: fade(slategrey,20%)
