doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Mortgage vs time deposit comparison
    block stylesheets
  body
    form.form
      .row
        .col-xs-12.col-md-4
          label Something
          input(type='text')
